{% extends 'base.html' %}

{% block title %}Total Bills{% endblock %}

{% block content %}
    <h1>All Bills</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Purchase Date</th>
                <th>Total Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.customer.name }}</td>
                    <td>{{ purchase.purchase_date }}</td>
                    <td>${{ purchase.total_amount }}</td>
                    <td><a href="{% url 'view_bill' purchase.id %}">View Bill</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No bills found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'generate_bill' %}" class="btn-generate-bill">Generate a New Bill</a>
{% endblock %}
